<% layout('layouts/boilerplate') %>

<!-- General team info -->
<h1 class="board-title"><%= team.name %></h1>
<h4 class="team-description"><%= team.description %></h4>
<p class="team-owner" data-teamOwner="<%=team.owner.username%> ">Created By: <%= team.owner.username %></p>

<!-- If the current user is a member of the team -->
<% if(team.owner.equals(currentUser._id)) { %>
    <!-- List members -->
    <div class="members" style="background-color: #DCDCDC;">
        <h5>Team members:</h5>
        <!-- Loop through members list -->
        <% for(let member of team.members) {
            if(member.username != null) { %>
                <!-- Card for each member -->
                <div class="member" id="<%=`${member._id}`%>">
                    <!-- Special ending for current user (who is also the owner) -->
                    <% if(team.owner.equals(member._id)) { %>
                        <p class="member-name"><%=member.username%> (me)</p>
                    <% } %>
                    <!-- Print name -->
                    <% if(!team.owner.equals(member._id)) { %>
                        <p class="member-name"><%=member.username%></p>
                    <% } %>
                    <!-- Add remove button for team members except the owner -->
                    <% if(!team.owner.equals(member._id)) { %>
                        <form action="/teams/<%=team._id%>/<%=member._id%>/remove?_method=DELETE" method="POST">
                            <button class="btn btn-primary btn-sm" style="margin: 5px;">Remove</button>
                        </form>
                    <% } %>
                </div>
            <% }
        } %>
    </div>
<% } %>

<%
// Function to check if the entered user is a member of a team
function isMember() {
    let i = 0;
    for(let member of team.members) {
        if(member._id.toString() == currentUser._id.toString()) {
            i = i + 1;
        }
    }
    return i;
}
 %>

<!-- If the current user is not a member of the team -->
<% if(!isMember()) { %>
    <h2><%=isMember()%> You are not a member of this team.</h2>
<% } %>

<!-- Show the team's boards if the user is a part of the team -->
<div class="teams-container row">
<% if(isMember()) {
    for(let b of boards) { %>
        <div class="card board" style="width: 18rem">
            <div class="card-body">
                <h5 class="card-title"><%= b.name %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= b.date.toLocaleString("en-US") %></h6>
                <p class="card-text"><%= b.description %></p>
                <!-- Button for the team owner to remove a board from their team -->
                <% if(currentUser && b.team.owner.equals(currentUser._id)) { %>
                <form action="/boards/<%=b._id%>/remove?_method=DELETE" method="POST">
                    <button class="btn btn-primary btn-sm" style="margin-left: 0;">Remove</button>
                </form>
                <% } %>
                <a href="/boards/<%=b._id%>"><button type="button" class="btn btn-primary btn-sm">View</button></a>
            </div>
        </div>
    <% }
} %>
</div>
<!-- Buttons on the page -->
<div class="all-buttons">
    <% if(currentUser && team.owner.equals(currentUser)){ %>
    <a href="/teams/<%=team._id%>/edit">
        <button class="btn btn-primary btn-sm">Edit</button>
    </a>

    <form action="/teams/<%=team._id%>?_method=DELETE" method="POST">
        <button class="btn btn-primary btn-sm">Delete</button>
    </form>
    <div>
        <button class="btn btn-primary btn-sm" onclick="showInvite()">Invite</button>
    </div>

    <% } %>
    <a href="/teams">
        <button class="btn btn-primary btn-sm">My Teams</button>
    </a>

</div>

<!-- Invite form -->
<div class="invite">
    <form id="invite-form" style="display: none;" action="/teams/<%=team._id%>/invite?_method=POST" method="POST">
        <label class="form-label" for="email">Email:</label>
        <input class="form-control" type="email" id="email" name="email" required />
        <br/>
        <button class="btn btn-success">Send</button>
    </form>
    <p id="sent"></p>
</div>

<script>
    // Show invite button for board creators
    function showInvite() {
        // Make invite form visible
        document.getElementById('invite-form').style.display = 'block';
    }
</script>