<% layout('layouts/boilerplate') %>
<h1 class="board-title">Edit Board</h1>
<form action="/boards/<%=board._id%>?_method=PUT" method="POST">
  <div>
    <label for="name" class="form-label">Name</label>
    <input type="text" id="name" name="board[name]" class="form-control" value="<%=board.name%>" />
  </div>
  <br />
  <div>
    <label for="description" class="form-label">Description</label>
    <input
      type="text"
      id="description"
      name="board[description]"
      class="form-control"
      value="<%=board.description%>"
    />
  </div>
  <br/>
  <!-- Dropdown to select team -->
  <div class="mb-3">
    <label class="form-label" for="team">Team:</label>
    <select class="form-control" name="board[team]" id="team">
      <!-- Default to the current -->
      <!-- If the board has no team, make the default team none -->
      <% if(typeof(board.team) == 'undefined' || board.team == null) { %>
        <option value="none">None (No Change)</option>
      <% } %>
      <!-- If the board has a team, make it the default choice -->
      <% if(typeof(board.team) != 'undefined' && board.team != null) { %>
        <option value="<%= board.team._id %>" id="default"><%= teams.find(t => t.id == board.team._id).name %> (No Change)</option>
      <% } %>

      <!-- Populate with the user's teams -->
      <% for(let team of teams) {
          // If the team is already the board's team, don't show again
          if(typeof(board.team) != 'undefined' && board.team != null && board.team._id.toString() != team._id.toString()) { %>
          <option value="<%=team._id%>" id="<%= team.name %>"><%= team.name %></option>
          <% }
          // If the board doesn't have a team, then list all
          else if(typeof(board.team) == 'undefined' || board.team == null) { %>
          <option value="<%=team._id%>" id="<%= team.name %>"><%= team.name %></option> <%
          }
      } %>

      <!-- If none wasn't the default choice, list it at the end -->
      <% if(typeof(board.team) != 'undefined' && board.team != null) { %>
          <option value="none">None</option>
      <% } %>
    </select>
  </div>
  <div style="display: flex; justify-content: center;">
    <button class="btn btn-success">Update Board</button>                    
  </div>
  <br/>
  <div style="display: flex; justify-content: center;">
    <a href="/boards/<%=board._id%> " class="btn btn-success">&lt&lt Back to Board</a>                   
  </div>
</form>